* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  background: linear-gradient(to top,#00b1eb,#0067a7);
}
@media screen and (max-width: 320px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 321px) {
  html {
    font-size: 16px;
  }
}
.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-slide {
  position: relative;
}
.img1 {
  animation-direction: alternate;
}
.img2 {
  position: absolute;
  left: 500px;
}
@-webkit-keyframes change {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}
.ani.red{
	animation: change 1s linear 0s infinite;
}
.upimg{
	width: 100%;
	position: relative;
}
.upimg img{
	width: 100%;
	position: absolute;
	top: -45px;
}
 .big_box{
 	width: 100%;
 	height: 100%;
 	position: relative;
 }
 .big_box .video{
 	width: 2rem;
 	height: 2rem;
 	position: absolute;
 	right: 1rem;
 	top: 3rem;
 	z-index: 999;
 	background: url(../images/music.svg) no-repeat center 0;
 	background-size: 100%;
 	animation: change 3s linear 0s infinite;
 }
 .big_box .star{
 	width:100%;
 	height: 90%;
 	position: absolute;
  animation: close 1s ease 0s infinite alternate;
 	background: url(../images/star.png) no-repeat center 0;
 }
 .head{
 	width: 100%;
 	height: 2.3rem;
 	padding-left: 1rem;
 	position: absolute;
 	top: 28%;
 	/*background:#007ebc url(../images/happy.png) no-repeat center 0;*/
 }
 .head img{
 	width: 2.7rem;
 	height: 2.3rem;
 	display: block;
 	margin:auto;
 }
 .left{
 	width: 100%;
 	height: 25rem;
 	position: absolute;
 	top: 17%;
 	/*background: url(../images/all.png) no-repeat center 0;*/
 }
 .left img{
 	margin:3rem auto;
 	display: block;
 }
 .left_left{
 	width: 10rem;
 	height: 3.12rem;
 	position: absolute;
 	top: 20%;
 	left:0;
 	/*background: url(../images/leftfu.png) no-repeat;*/
 }
 .left_left img{
 	float: left;
 	margin-left: 2rem;
 }
 .right_right{
 	width: 10rem;
 	height: 3.12rem;
 	position: absolute;
 	top: 20%;
 	right: 0;
 	/*background: url(../images/rightfu.png) no-repeat;*/
 }
 .right_right img{
 	float: right;
 	margin-right: 2rem;
 }
 .no{
 	float: left;
 	width: 1.4rem;
 	height: 1.4rem;
 	border: 2px solid #fff;
 	border-radius: 50%;
 	color: #000;
 	margin-right: 2rem;
 	margin-bottom: 1rem;
	text-align: center;
	background-color: #1dafdd;
 }
 .left_box{
 	width: 7rem;
 	position: absolute;
 	top: 40%;
 	left: 40%;
 }
 .please{
 	width: 100%;
 	position: absolute;
 	top: 66%;
 	margin-left: 1.5rem;
 	font-size: 1.25rem;
 }
 .y2018{
 	width: 7rem;
 	height: 3.5rem;
 	position: absolute;
 	top: 73%;
 	left: 34%;
 	/*background: url(../images/2018.png) no-repeat;*/
 }
.line2018{
 	width: 100%;
 	height: 1.25rem;
 	position: absolute;
 	top: 35rem;
 	left: 4rem;
 	background: url(../images/down-line.png) no-repeat;
}
 .downimg{
 	width: 100%;
 	position: absolute;
 	bottom: 0;
 	left: -0.25rem;
 	display: block;
 }
 .downimg img{
 	width: 110%;
 	float: left;
 }
 @-webkit-keyframes close{
  	0%{
  		opacity: 0;
  	}
  	100%{
  		opacity: 1;
  	}
  }
.title{
	width: 100%;
	height: 4rem;
	position: absolute;
	top: 10%;
	background: url(../images/kuang.png) no-repeat center 0;
}
.title h1{
	position: absolute;
	top: 11%;
	left: 31%;
	color: #fff;
}
.er_box{
	font-size: 1.5rem;
	position: absolute;
	top: 24%;
	padding: 0 2rem;
	color: #fff;
}
.xuehua_fan{
	width: 2.1rem;
	height: 2rem;
	position: absolute;
	top: 22%;
	right: 2%;
	background: url(../images/xuehua.png) no-repeat center 0;
}
.xuehua1_fan{top: 35%;}
.xuehua2_fan{top: 47%;}
.xuehua3_fan{top: 59%;}
.xuehua4_fan{top: 71%;}
.xian_fan{
	width: 2.1rem;
	height: 2rem;
	position: absolute;
	top: 26%;
	right: 8%;
	background: url(../images/line1.png) no-repeat center 0;
}
.xian1_fan{top: 39%;} 
.xian2_fan{top: 51%;}
.xian3_fan{top: 63%;}
.sm_xuehua_fan{
	width: 1rem;
	height: 1rem;
	position: absolute;
	top: 30%;
	right: 14%;
	background: url(../images/small-xuehau.png) no-repeat center 0;
}
.sm_xuehua1_fan{top: 42%;}
.sm_xuehua2_fan{top: 54%;}
.sm_xuehua3_fan{top: 66%;}
.xianfan_fan{
	width: 2.1rem;
	height: 2rem;
	position: absolute;
	top: 32%;
	right: 6%;
	background: url(../images/line2.png) no-repeat center 0;
}
.xianfan1_fan{top: 44%;}
.xianfan2_fan{top: 56%;}
.xianfan3_fan{top: 68%;}
.xuehua{
	width: 2.1rem;
	height: 2rem;
	position: absolute;
	top: 22%;
	left: 2%;
	background: url(../images/xuehua.png) no-repeat center 0;
}
.xuehua1{top: 35%;}
.xuehua2{top: 47%;}
.xuehua3{top: 59%;}
.xuehua4{top: 71%;}
.xian{
	width: 2.1rem;
	height: 2rem;
	position: absolute;
	top: 26%;
	left: 8%;
	background: url(../images/line2.png) no-repeat center 0;
}
.xian1{top: 38%;} 
.xian2{top: 50%;}
.xian3{top: 62%;}
.sm_xuehua{
	width: 1rem;
	height: 1rem;
	position: absolute;
	top: 30%;
	left: 14%;
	background: url(../images/small-xuehau.png) no-repeat center 0;
}
.sm_xuehua1{top: 42%;}
.sm_xuehua2{top: 54%;}
.sm_xuehua3{top: 66%;}
.xianfan{
	width: 2.1rem;
	height: 2rem;
	position: absolute;
	top: 32%;
	left: 6%;
	background: url(../images/line1.png) no-repeat center 0;
}
.xianfan1{top: 44%;}
.xianfan2{top: 56%;}
.xianfan3{top: 68%;}
.text_zhufu{
	font-size: 1.5rem;
	position: absolute;
	top: 30%;
	left: 2%;
	padding: 0 3rem;
	color: #fff;
}
.third-title img {
	/*position: absolute;*/
	margin-left: -1rem;
	width: 100%;
	height: 20rem;
}
.third-title h1 {
	color: #FFFFFF;
	font-size: 1.5rem;
	position: absolute;
	top: 21%;
	left: 40%;
}
.dogimg img {
	width: 50%;
	height: 25%;
	position: absolute;
	top: 35%;
	left: 3%;
}
.third-article {
	width: 8rem;
	height: 50rem;
	position: absolute;
	top: 36%;
	right: 3%;
	font-size: 1rem;
	color: #FFFFFF;
}
.dogimgs img {
	width: 50%;
	height: 25%;
	position: absolute;
	top: 61%;
	right: 3%;
}
.third-articles {
	width: 8rem;
	height: 50rem;
	position: absolute;
	top: 61%;
	left: 3%;
	font-size: 1rem;
	color: #FFFFFF;
}
.big_box>p {
	font-size: 1.25rem;
	color: #FFFFFF;
	position: absolute;
}
.yuandan{
	position: absolute;
	top: 0;
}
.final-1 {
	top: 14rem;
	left: 10rem;
}
.final-2 {
	top: 17rem;
	left: 10rem;
}
.final-3 {
	top: 20rem;
	left: 10rem;
}
.final-4 {
	top: 23rem;
	left: 10rem;
}
.final-5 {
	top: 26rem;
	left: 10rem;
}
 .final-6{
	top: 36rem;
	left: 4rem;
}
